<ion-header>
  <ion-toolbar color="primary">
     <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
     </button>
    <ion-title>Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
     <ion-label stacked>Nome</ion-label>
    <ion-label>{{produto.nome}}</ion-label>
  </ion-item>

  <ion-item>
     <ion-label stacked>Descrição</ion-label>
    <ion-label>{{produto.descricao}}</ion-label>
  </ion-item>

  <ion-item>
     <ion-label stacked>Preço</ion-label>
    <ion-label>{{produto.preco}}</ion-label>
  </ion-item>

<ion-label stacked>Estabelecimento</ion-label>
<ion-list>
 <ion-item *ngFor="let c of produto.estabelecimentos">
    <ion-label>"{{c.nome}}"</ion-label>
    </ion-item>
</ion-list>

  <!--Criar um campo para escrever comentário -->
 <button ion-button (click)="openModal(produto.id)">O que você acha desse produto?</button>
 
<br/>
 Comentários:
<ion-list>
 <ion-item *ngFor="let c of produto.comentarios">
    <ion-label>"{{c.descricao}}"</ion-label>
    </ion-item>
</ion-list>

</ion-content>
